

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.left-space {
  flex: 1;
}

.right-space {
  flex: 1;
}

.real-content {
  display: flex;
  flex-direction: column;
  flex: 8;
}



.all-menu-content {
  min-height: 800px;
  border-radius: 10px;
}

.menu-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
