.app {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 18px;
  color: black;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  color: #333;
  justify-content: center;
}

.suspension {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: #ccc;
  background-color: #363636;
  font-size: 14px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
